.container {
    display: flex;
    justify-content: space-between;
}
.content {
    background-color: #d2d2d2;
    // background-color: #f4f6fb;
    padding-left: var(--width-sidebar);
    width: 100%;
    padding-top: 0 !important;
    transition: 0.5s;
    position: relative;
    min-height: 100vh;
    padding-bottom: 80px;
    overflow: hidden;
}
.page {
    margin-top: var(--default-layout-header-height);
}
