.manage-schedule-container {
    width: 1200px;
    margin: 0 auto;
    .m-s-title {
        text-transform: uppercase;
        margin-bottom: 15px;
        padding-top: 15px;
        font-weight: 600;
        font-size: 17px;
        text-align: center;
    }

    .pick-hour-container {
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;

        button {
            width: 130px;
            padding: 5px 15px;
            border: 2px solid gray;
            border-radius: 4px;
            // border: none;
        }
    }

    .btn-schedule {
        &.active {
            background-color: var(--primary);
            color: #f2f2f2;
            border: 2px solid #ccc;
        }
    }

    .btn-save-schedule {
        margin-top: 20px;
    }
}

// form input
.form-group {
    label {
        margin-bottom: 9px;
        // font-size: 1.6rem;
    }

    //input
    .form-control {
        display: block;
        width: 100%;
        height: calc(1.8em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: var(--text-color);
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        margin-bottom: 12px;
    }

    .form-control:focus {
        color: #495057;
        background-color: #fff;
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
    }
}
