.sidebar {
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 10;
    padding-bottom: 50px;
    position: fixed;
    width: var(--width-sidebar);
    z-index: 999;
    // overflow: hidden;
    // overflow-y: auto;
    transition: 0.5s;
    background: #343a40;
    box-shadow: 0 12px 30px rgb(80 143 244 / 10%);
}

.logo {
    text-align: center;
    height: 70px;
    line-height: 70px;
    background: #2d3238;
    // border: 1px solid #ccc;
    color: var(--white);
}

.sidebar-menu {
    margin: 20px 0;
}

@media (max-width: 1450px) {
    .sidebar {
        width: 200px;
    }
}
