// style={{
//     width: '1200px',
//     height: '500px',
//     display: 'flex',
//     justifyContent: 'center',
//     alignItems: 'center',
// }}
.wrapper {
    width: 100%;
    border-top: 3px solid #efeef5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    background-color: #f5f5f5;
}
.wrapper-about {
    width: 1200px;
    height: 500px;
}

.title-about {
    font-size: 22px;
    margin: 20px 0 30px;
    font-weight: 600;
}
.row-about {
    display: flex;
    width: 1200px;
    justify-content: space-between;
}
.content-left {
    width: 65%;
    iframe {
        width: 100%;
        height: 400px;
    }
}
.content-right {
    padding-left: 10px;
    text-align: start;
    width: 34%;
}

@media (max-width: 720px) {
    .wrapper {
        padding-bottom: 0px;
    }
    .title-about {
        font-size: 18px;
        margin: 15px 0 20px;
        font-weight: 600;
    }
    .row-about {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        flex-direction: column-reverse;
    }

    .content-right {
        padding: 0 10px 20px 10px;
        width: 100%;
    }

    .content-left {
        width: 100%;
        iframe {
            width: 100%;
            height: 270px;
        }
    }
}
