.wrapper-input-group {
    display: flex;
    justify-content: space-between;
    // background-color: #ccc;
}
.input-group {
    width: 600px;
}

.table-footer {
    display: flex;
    justify-content: space-between;
}

.counter-number {
    padding: 0 3px;
    cursor: pointer;
    // border: 1px solid #ff4d4f;
    // border-radius: 12px;
    color: #ccc;
    font-size: 20px;
    &:hover {
        background-color: #f2f2f2;
    }
}
