.wrapper {
    display: flex;
    justify-content: space-around;
    width: 1070px;
    margin: 0 auto;
    margin-top: 120px;
    // align-items: center;
}

.list-detail {
    // border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    height: 55px;
    line-height: 55px;
}
.text-detail {
    position: absolute;
    left: 30%;
}

.detail-image {
    width: 100%;
    height: 200px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    margin-bottom: 30px;
}
