.wrapper {
    display: flex;
    justify-content: space-around;
    width: 1070px;
    margin: 0 auto;
    margin-top: 120px;
    // align-items: center;
}

.list-detail {
    // border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    height: 55px;
    line-height: 55px;
}
.text-detail {
    position: absolute;
    left: 30%;
}
