.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 90px;
    margin-top: 38px;
}

.item {
    margin-top: 16px;
    font-size: 14px;
    color: #fff;
    // display: flex;
    // align-items: flex-end;
    height: 230px;
    // line-height: 300px;
    background-color: rgb(148, 143, 143);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rgb(32 33 36 / 28%) 0px 1px 6px;
    transition: transform linear 0.1s;
    will-change: transform;
    border-radius: 5px;
    border: 1px solid #ccc;
    // cursor: pointer;
    // width: 100%;

    span {
        padding: 5px 10px;
    }
}
.item-image {
    width: 100%;
    height: 150px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper-btn {
    padding: 5px 10px 0;
}

.btn-buy {
    height: 25px;
    line-height: 25px;
    width: 100%;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.select-service {
    // style={{ display: 'flex', justifyContent: 'space-between' }}
    display: flex;
    justify-content: space-between;
}

.wrapper-cart {
    font-size: 22px;
    position: relative;
    cursor: pointer;
}
.cart-icon {
    color: #000;
}
.notify-number {
    position: absolute;
    top: -5px;
    left: 17px;
    font-size: 14px;
    background-color: orange;
    text-align: center;
    width: 19px;
    height: 19px;
    // line-height: 18px;
    border-radius: 50%;
    color: #fff;
}

.title-cart {
    // style={{ width: '100%', textAlign: 'center', height: 35, lineHeight: '35px' }}
    width: 100%;
    text-align: center;
    height: 40px;
    line-height: 40px;
    border-bottom: 2px solid #ddd;
}

.nav-list-item {
    font-size: 14px;
    background-color: #fff;
    width: 300px;
    position: absolute;
    left: -300px;
    z-index: 5;
    box-shadow: rgb(32 33 36 / 28%) 0px 1px 6px;
    border-radius: 6px;
    // display: none;
}

// .wrapper-cart:hover .nav-list-item {
//     display: block;
// }

.cart-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    border-bottom: 1px solid #ccc;
}
.cart-item:hover {
    background-color: #ccc;
}

.item:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}
