.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
}

.container {
    width: 100%;
    max-width: 100%;
    margin-top: var(--default-layout-header-height);
    display: flex;
    border: 1px solid #ccc;
}
.content {
    border: 1px solid #ccc;
    margin: 0 auto;
    flex: 1;
}
