.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin-bottom: 100px;
}

.content {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    width: 1200px;
    padding-bottom: 80px;
    // background-color: #f5f5f5;
}

.row-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: start;
}

.content-left {
    padding: 0 10px;
    width: 49%;
    // background-color: #ccc;
    h2 {
        margin-bottom: 10px;
    }

    ul {
        margin-top: 15px;
    }

    li {
        margin-top: 12px;
        h4 {
            margin-top: 2px;
        }
        .icon-contact-page {
            span {
                border-radius: 50%;
                margin-left: 4px;
                padding: 5px 6px;
                background-color: #ccc;
                cursor: pointer;
                svg {
                    margin-top: 5px;
                    font-size: 13px;
                    width: 15px;
                    height: 15px;
                }
            }

            span:hover {
                background-color: #ffd800;
            }
        }
    }
}

.content-right {
    width: 49%;
    // background-color: #f5f5f5;
    padding: 0 10px;
    width: 49%;
    // background-color: #ccc;
    h2 {
        margin-bottom: 10px;
    }

    form {
        margin-top: 20px;

        // .form-group .form-control {
        //     padding: 3rem 0.75rem;
        // }
    }
    textarea {
        height: 75px !important;
        padding-top: 1rem !important;
    }
    .btn-submit {
        color: var(--text-color);
        margin: 0 auto;
        display: flex;
        margin-top: 25px;
        width: 230px;
        height: 45px;
        border-radius: 6px;
        // align-items: center;
    }
}
