.thumbnail-branch {
    // backgroundImage: `url(${text})`, width: 50, height: 50, borderRadius: 5
    width: 60px;
    height: 50px;
    border-radius: 5px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../../../assets/images/no-image.png');
    &:hover {
        width: 60px;
        height: 50px;
    }
}
