.container {
  width: 1200px;
  margin: 0 auto;
  // padding-top: 30px;
}

#TableManageUser {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

#TableManageUser td,
#TableManageUser th {
  border: 1px solid #ddd;
  padding: 8px;
}

#TableManageUser tr:nth-child(even) {
  background-color: #f2f2f2;
}

#TableManageUser tr:hover {
  background-color: #ddd;
}

#TableManageUser th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--text-color);
  color: white;
}

.btn-edit {
  width: 50px;
  border: none;
  outline: none;
  background: transparent;
  color: orange;
  cursor: pointer;
  &:hover {
    background-color: transparent !important;
    color: orange !important;
  }
}
.btn-delete {
  width: 50px;
  border: none;
  outline: none;
  background: transparent;
  color: rgb(235, 15, 15);
  cursor: pointer;
  &:hover {
    background-color: transparent !important;
    color: rgb(235, 15, 15) !important;
  }
}

@media (max-width: 1450px) {
  .container {
    width: 950px;
  }
}
