.wrapper-input-group {
    display: flex;
    justify-content: space-between;
    // background-color: #ccc;
}
.input-group {
    width: 600px;
    input {
        // box-shadow: rgb(32 33 36 / 28%) 0px 1px 6px;
        // border: 1px solid #ccc;
    }
    .input-select {
        // box-shadow: rgb(32 33 36 / 28%) 0px 1px 6px;
        // border: 1px solid #ccc;
    }
}
