/*footer*/

.grid {
    width: 100%;
    display: block;
    padding: 0;
}

.wide {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
}

.footer {
    top: 0px;
    background-color: #222222;
    width: 100%;
    // margin-left: var(--width-sidebar);
    padding: 50px 200px;
    color: #fff;
}

.footer__heading {
    font-size: 1.8rem;
    color: #fff;
    font-weight: 700;
}
.footer-item {
    cursor: pointer;
    padding: 5px 0;
}

.footer-item:hover {
    color: var(--primary);
}
.footer-list {
    font-weight: 500;
    color: #f5f5f5;
    font-size: 1.4rem;
    padding-left: 0;
    list-style-type: none;
}

.footer__bottom {
    padding: 8px 0;
    margin-top: 30px;
}
.footer__text {
    font-weight: 500;
    margin: 0;
    text-align: center;
    font-size: 1.4rem;
    color: #f5f5f5;
}

@media (max-width: 1180px) {
    .footer {
        margin-left: 0;
        padding: 50px 30px;
    }
}

@media (max-width: 740px) {
    .footer {
        margin-left: 0;
        padding: 25px 15px;
    }
    .footer__heading {
        margin-top: 15px;
        font-size: 1.4rem;
    }

    .footer-list {
        font-weight: 500;
        color: #f5f5f5;
        font-size: 1.2rem;
        padding-left: 0;
        list-style-type: none;
    }

    .footer__text {
        font-size: 1.2rem;
    }

    .footer__bottom {
        margin-top: 20px;
    }
}
