.thumbnail-branch {
    // backgroundImage: `url(${text})`, width: 50, height: 50, borderRadius: 5
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../../../assets/images/no-image.png');
}

.wrapper-btn {
    display: flex;
    margin-top: 8px;
    flex-wrap: wrap;
}

.btn-booking {
    font-weight: 600;
    font-size: 10px;
    background-color: #fcaf17;
    margin-bottom: 5px;
}
